table {
    width: 100%;
}
.mat-column-right{
    text-align: center;
}
.create-button{
    float: left;
}
.account-button{
    float: right;
}
.hello-class,h3,h4{
    color:blueviolet;
    text-align: center;
    margin: 0 auto;
}
.mat-logout-right{
    float: right;
}