<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Registration</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="registerForm" class="register-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="First name and last name" formControlName="fullName" #fullName>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Email" formControlName="email" #email>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Password" formControlName="password" #password>
      </mat-form-field>
      <mat-form-field class="field-full-width">
          <mat-select placeholder="Role" formControlName="status" #role>
            <mat-option value="manager">Manager</mat-option>
            <mat-option value="developer">Developer</mat-option>
            <mat-option value="consultant">Consultant</mat-option>
            <mat-option value="Administrator">administrator</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>
      <button type="submit" (click)="register(fullName.value,email.value,password.value,role.value)" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card>
</div>